body {
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  margin: 0;
  background: #f3f4f6;
}
.sidebar {
  width: 250px;
  background: #0b2342;
  color: white;
  min-height: 100vh;
  padding: 20px 0;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar li {
  padding: 12px 20px;
  cursor: pointer;
}
.sidebar li.active, .sidebar li:hover {
  background: #0a1733;
}
.header {
  width: 100%;
  height: 60px;
  background: #0b2342;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 250px;
  z-index: 1000;
}
.main-content {
  margin-left: 250px;
  padding: 100px 40px 40px;
}
.username {
  color: #4c51bf;
  font-weight: bold;
}



.logo span {
  color: #00b4d8;
}



li a {
  text-decoration: none;
  color: inherit; /* makes the link inherit the li color */
  display: block;
  padding: 10px;
}
li a:hover {
  background-color:  #0b2342; /* optional hover effect */
}
